/********************************************************************************
class: basecss.Background
********************************************************************************/

.ss_bg_primary {
    /*background: #161819;*/
    background: #161819;
}

.ss_bg_secondary {
    background: #232628;
}

.ss_bg_extra {
    background: #333739;
}
/********************************************************************************
class: basecss.Button
********************************************************************************/
.ss-btn {
    height: 24px;
    width: 70px;
    border: none;
    border-radius:2px;
    font-family:MicrosoftYaHei;
    font-size:14px;
    line-height:14px;
    text-align: center;
}

.ss-btn-sm {
    height:20px;
    width:40px;
    border: none;
    border-radius:2px;
    font-family:fantasy;
    font-size:12px;
    line-height:12px;
    text-align: center;
}

.ss-btn-lg {
    height:30px;
    width:100px;
    border: none;
    border-radius:2px;
    font-family:MicrosoftYaHei;
    font-size:14px;
    line-height:14px;
    text-align: center;
}

.ss-btn-info {
    background: #0d7b7b;
    color:#ffebc8;
}

.ss-btn-info:hover,
.ss-btn-info.hover {
    background: #179595;
}

.ss-btn-info:active,
.ss-btn-info.active {
    background: #0d6060;
}

.ss-btn-danger {
    color:#ffebc8;
    background: #c03647;
}

.ss-btn-danger:hover,
.ss-btn-danger.hover {
    background: #d23044;
}

.ss-btn-danger:active,
.ss-btn-danger.active {
    background: #a7172a;
}

.ss-btn-warning {
    color:#1b1b1b;
    background: #f38b1e;
}

.ss-btn-warning:hover,
.ss-btn-warning.hover {
    background: #ffa13e;
}


.ss-btn-warning:active,
.ss-btn-warning.active {
    color:#000000;
    background: #b47010;
}

.ss-btn.disabled,
.ss-btn[disabled],
.ss-btn-lg[disabled],
.ss-btn-sm[disabled] {
    color:#7b8082;
    background: #35393b;
}

.ss-btn-gray {
    background: #4b4d50;
    color:#fff9ee;
}

.ss-btn-gray:hover,
.ss-btn-gray.hover {
    background: #6d7075;
}

.ss-btn-gray:active,
.ss-btn-gray.active {
    background: #0d6060;
    color:#ffebc8;
}
/********************************************************************************
class: simpledirective.inputs.checkbox
********************************************************************************/

.ss-input-control {
    display: inline-block;
    color: #ffebc8;
    font-size: .7292rem;
    line-height: .7292rem;
    text-align: left;
    cursor: default;
}

    .ss-input-control.ss-checkbox > input[type=checkbox] {
        display: none;
    }

    .ss-input-control.ss-checkbox > .check {
        display: inline-block;
    }

    .ss-input-control.ss-checkbox:hover > .check {
        background-color: #0d7b7b;
    }

        .ss-input-control.ss-checkbox:hover > .check[disabled] {
            background-color: transparent;
        }

    .ss-input-control.ss-checkbox > input[type=checkbox],
    .ss-input-control.ss-checkbox > .check,
    .ss-input-control.ss-checkbox > .caption {
        vertical-align: middle;
    }

/********************************************************************************
class: simpledirective.datepicker
********************************************************************************/

.ss-datepicker * {
  font-family: microsoft yahei;
  box-sizing: border-box;
}
.ss-datepicker .ss-datepickerRect {
  display: inline-block;
}
.ss-datepicker .input {
  cursor: default;
}
.ss-datepicker .inputable {
  cursor: text;
  z-index: 101;
  position: relative;
}
.ss-datepicker .defaultDatePickerInput {
  width: 90px;
  height: 22px;
  line-height: 22px;
  cursor: default;
  border: #697277 1px solid;
  border-radius: 2px;
  background-color: #42494e;
  color: #f0f0f0;
  text-align: center;
}
.ss-datepicker .globalCover {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 99;
}
.ss-datepicker .ss-datepicker {
  position: absolute;
  z-index: 100;
  width: 220px;
  min-height: 217px;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.13);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.7);
  background-color: #232628;
}
.ss-datepicker .ss-datepicker .pickerHeader1 {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}
.ss-datepicker .ss-datepicker .pickerHeader2 {
  width: 100%;
  height: 28px;
  clear: both;
}
.ss-datepicker .ss-datepicker .pickerHeader2 * {
  cursor: default;
}
.ss-datepicker .ss-datepicker .pickerHeader2 .days {
  width: 30px;
  text-align: center;
  line-height: 26px;
  color: #959b9f;
  display: inline-block;
  font-size: 12px;
  margin-top: 1px;
  margin-right: 1px;
}
.ss-datepicker .ss-datepicker .pickerHeader2 .days:nth-child(1) {
  margin-left: 1px;
}
.ss-datepicker .ss-datepicker .headBox1 {
  width: 70px;
  height: 24px;
  background-color: #3b4145;
  border-radius: 2px;
  float: left;
}
.ss-datepicker .ss-datepicker .headBox1 input {
  width: 38px;
  height: 18px;
  margin-top: 3px;
  margin-left: 8px;
  border: none;
  background-color: transparent;
  float: left;
  font-size: 14px;
  color: #ffda9a;
}
.ss-datepicker .ss-datepicker .ml_5 {
  margin-left: 5px;
}
.ss-datepicker .ss-datepicker .ml_15 {
  margin-left: 15px;
}
.ss-datepicker .ss-datepicker .headerLabel {
  float: left;
  margin-left: 5px;
  margin-top: 3px;
  font-size: 12px;
  color: #959b9f;
  cursor: default;
}
.ss-datepicker .ss-datepicker dl {
  width: 15px;
  height: 20px;
  margin: 2px 0 0 4px;
  display: inline-block;
  float: left;
}
.ss-datepicker .ss-datepicker dl * {
  margin: 0;
}
.ss-datepicker .ss-datepicker dl .datepicker_arrow {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAOCAYAAAAWo42rAAAAAXNSR0IArs4c6QAAAJRJREFUKBVjYEAC////Z/v/69NMMAaykaQQzP//v0r+//3p2P9fH/+DMYgNFEOoALKACiyB+BkQ//z/63MaGIPYEDFLsGKsglg0M0GNPs7AwmzMyMp3HMpnALOBYkA+XAwmN2hpqK/3Y4QZ0MXQsN0PUgPztRXDn79nQeEJ8xGYDRQD8q1gYsQFOEw1UVGIUIw7UQAAg+W95ZWtROYAAAAASUVORK5CYII=);
}
.ss-datepicker .ss-datepicker dl dd.plus {
  width: 100%;
  height: 50%;
  background-repeat: no-repeat;
  background-position: center 3px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.ss-datepicker .ss-datepicker dl dd.plus:hover {
  background-color: #161819;
}
.ss-datepicker .ss-datepicker dl dd.reduce {
  width: 100%;
  height: 50%;
  background-repeat: no-repeat;
  background-position: center -7px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.ss-datepicker .ss-datepicker dl dd.reduce:hover {
  background-color: #161819;
}
.ss-datepicker .ss-datepicker .dateCellRect .dateCell {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: inline-block;
  margin-right: 1px;
  margin-bottom: 1px;
  font-size: 12px;
  color: #ffebc8;
  background-color: #1e2022;
  cursor: default;
}
.ss-datepicker .ss-datepicker .dateCellRect .dateCellOn {
  background-color: #161819;
}
.ss-datepicker .ss-datepicker .dateCellRect .dateCellOn:hover {
  background-color: #1d4243;
}
.ss-datepicker .ss-datepicker .dateCellRect .dateWeekend {
  color: #f9c66e;
}
/********************************************************************************
class: basecss.Button
updated on 2016/08/24 By Wei Lai
********************************************************************************/

.ss-icon {
    display: block;
    border-radius: 2px;
    background-image: url("../images/icons.png");
    background-repeat: no-repeat;
}
.ss-icon[disabled] {
    cursor: no-drop;
    opacity: 0.5;
}
.ss-icon:hover {
    opacity: 0.7;
}
.ss-icon:active {
    opacity: 1;
}
.ss-icon-primary {
    background-color: #0d7b7b;
}

.ss-icon-primary.ss-icon-checkbox-unselected,
.ss-icon-primary.ss-icon-radiobutton-selected,
.ss-icon-primary.ss-icon-radiobutton-unselected {
    background-color: transparent;
}

/* 生成css */
.ss-icon-checkbox-selected {
    width: 16px;
    height: 16px;
    background-position: -5px -5px;
}

.ss-icon-checkbox-unselected {
    width: 16px;
    height: 16px;
    background-position: -31px -5px;
}

.ss-icon-contact-info {
    width: 20px;
    height: 20px;
    background-position: -57px -5px;
}

.ss-icon-add {
    width: 20px;
    height: 20px;
    background-position: -87px -5px;
}

.ss-icon-ban {
    width: 20px;
    height: 20px;
    background-position: -117px -5px;
}

.ss-icon-cancel-top {
    width: 20px;
    height: 20px;
    background-position: -5px -35px;
}

.ss-icon-close {
    width: 20px;
    height: 20px;
    background-position: -35px -35px;
}

.ss-icon-concern {
    width: 20px;
    height: 20px;
    background-position: -65px -35px;
}

.ss-icon-delete {
    width: 20px;
    height: 20px;
    background-position: -94px -35px;
}

.ss-icon-download-noraml {
    width: 20px;
    height: 20px;
    background-position: -125px -35px;
}

.ss-icon-edit {
    width: 20px;
    height: 20px;
    background-position: -5px -65px;
}

.ss-icon-enlarge {
    width: 20px;
    height: 20px;
    background-position: -35px -65px;
}

.ss-icon-maximize {
    width: 20px;
    height: 20px;
    background-position: -65px -65px;
}

.ss-icon-narrow {
    width: 20px;
    height: 20px;
    background-position: -95px -65px;
}

.ss-icon-popup {
    width: 20px;
    height: 20px;
    background-position: -125px -65px;
}

.ss-icon-restore {
    width: 20px;
    height: 20px;
    background-position: -5px -95px;
}

.ss-icon-search-location {
    width: 20px;
    height: 20px;
    background-position: -35px -95px;
}

.ss-icon-search-location-copy {
    width: 20px;
    height: 20px;
    background-position: -65px -95px;
}

.ss-icon-search {
    width: 20px;
    height: 20px;
    background-position: -95px -95px;
}

.ss-icon-tanru {
    width: 20px;
    height: 20px;
    background-position: -125px -95px;
}

.ss-icon-window-top {
    width: 20px;
    height: 20px;
    background-position: -5px -125px;
}

.ss-icon-radiobutton-selected {
    width: 16px;
    height: 16px;
    background-position: -35px -125px;
}

.ss-icon-radiobutton-unselected {
    width: 16px;
    height: 16px;
    background-position: -61px -125px;
    background-color: transparent;
}

.ss-icon-radiobutton-unselected-disabled {
    width: 16px;
    height: 16px;
    background-position: -87px -125px;
}

.ss-icon-window-downsize {
    width: 20px;
    height: 20px;
    background-position: -113px -125px;
}

.ss-icon-window-minimize {
    width: 20px;
    height: 20px;
    background-position: -147px -5px;
}
/********************************************************************************
class: basecss.Button
********************************************************************************/


.ss-label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-family:MicrosoftYaHei;
	font-size:14px;
	color:#7b8082;
	line-height:14px;
	text-align:left;
}


/********************************************************************************
class: basecss.List
********************************************************************************/

.ss-list-group {
    font-size: 14px;
    color: #ffda91;
    padding: 0px;

}

.ss-list-item {
    list-style: none;
    line-height: 24px;
    padding: 3px 10px;
}
.ss-list-item:hover {
    background-color: #1d4243!important;
}
.ss-list-group.ss-back-style .ss-list-item:nth-child(odd) {
    background-color: #191b1c;
}
.ss-list-group.ss-back-style .ss-list-item:nth-child(even) {
    background-color: #232628;
}
.ss-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 10px;
    z-index: 1050;
    overflow: auto;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

.ss-modal-dialog {
    width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

.ss-modal-content {
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.70);
    cursor: move;
    position: relative;
    background: #232628;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    outline: none;
    min-height: 217px;
    top: 0;
    left: 0;
}

.ss-modal-header {
    background: #0d7b7b;
    border: 1px solid rgba(255,255,255,0.15);
    border-radius: 2px 2px 0px 0px;
    height: 28px;
    color: #ffebc8;
    box-sizing: border-box;
    padding-left: 13px;
}

    .ss-modal-header .close {
        margin-top: -2px;
    }

.ss-modal .ss-modal-title {
    margin: 0;
    line-height: 28px;
}

.ss-modal-body {
    /*	display: table;*/
    color: #fff;
    position: relative;
    margin: 30px 40px 40px 40px;
    box-sizing: border-box;
    height: 59px;
    max-width: 316px;
}

.ss-modal-footer {
    text-align: center;
}

    .ss-modal-footer .btn + .btn {
        margin-bottom: 0;
        margin-left: 5px;
    }

.close:hover,
.close:focus {
    color: #FFEBC8;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5;
}

button.close {
    -webkit-appearance: none;
    cursor: pointer;
    background: transparent;
    border: 0;
    float: right;
    font-size: 21px;
    line-height: 28px;
    color: #FFEBC8;
    text-shadow: 0 1px 0 #FFEBC8;
}

.ss-modal-body .ss-modal-body-content {
    display: table;
    height: 59px;
}

.ss-modal-body .icon {
    display: table-cell;
    vertical-align: middle;
    width: 35px;
    height: 59px;
}

/*.ss-modal-body .icon_warn {
    display: inline-block;
    height: 58px;
    width: 32px;
    background-image: url(../img/icon_warn.png);
    background-repeat: no-repeat;
    background-position-y: center;
}

.ss-modal-body .text {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}

.ss-modal-body .icon .icon_error {
    height: 58px;
    width: 32px;
    background-image: url(../../img/icon_error.png);
    background-repeat: no-repeat;
    background-position-y: center;
}

.ss-modal-body .icon .icon_inquiry {
    height: 58px;
    width: 32px;
    background-image: url(../../img/icon_inquiry.png);
    background-repeat: no-repeat;
    background-position-y: center;
}

.ss-modal-body .icon .icon_success {
    height: 58px;
    width: 32px;
    background-image: url(../../img/icon_success.png);
    background-repeat: no-repeat;
    background-position-y: center;
}*/

.ss-modal-footer .btn {
    color: #ffebc8;
    line-height: 14px;
    background: #0d7b7b;
    border-radius: 2px;
    width: 70px;
    height: 24px;
    border: none;
    margin-bottom: 30px;
}

    .ss-modal-footer .btn:hover {
        background: #006666;
    }

/********************************************************************************
class: basecss.Panel
********************************************************************************/
.ss-panel {

}
.ss-panel-head {
    font-size:14px;
    color:#ffebc8;
    line-height:14px;
    text-align:left;
    padding: 10px 15px;
    background-color: #1d595b;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px
}
.ss-panel-body {
    background-color: #161819;
    padding: 10px;
}
/********************************************************************************
class: simpledirective.inputs.radiobutton
********************************************************************************/

.ss-input-control .ss-radiobutton > input[type=radio] {
    display: none;
}

.ss-input-control .ss-radiobutton > .check {
    display: inline-block;
    -ms-border-radius: 100%;
    border-radius: 100%;
}

.ss-input-control .ss-radiobutton:hover > .check {
    background-color: #0d7b7b;
}

    .ss-input-control .ss-radiobutton > .check[disabled] {
        background-color: transparent;
    }

.ss-input-control .ss-radiobutton > input[type=radio],
.ss-input-control .ss-radiobutton > .check,
.ss-input-control .ss-radiobutton > .caption {
    vertical-align: middle;
}

/********************************************************************************
class: basecss.Table
********************************************************************************/
.ss-table {
    background-color: #161819;
    font-family: 'Microsoft YaHei Regular';

}
.ss-table-head {
    font-size:14px;
}
.ss-table-head tr{
    height: 40px;background-color:#232628;
}
.ss-table-head tr td{
    padding:0px 30px;font-size:14px;text-align: center;color:#7B8082;line-height: 40px;
 }
.ss-table-body tr:nth-child(even){
    background-color: #232628;
}
.ss-table-body tr:nth-child(odd){
    background-color: #191B1C;
}
.ss-table-body tr:hover{
    background-color: #1d4243;
}
.ss-table-body tr td{
    height: 30px;line-height: 30px;color:#ffebc8;text-align: center;
}
.ss-table-body .ss-table-special{
    color:#ffda9a;
}
.ss-table-body tr.ss-table-rise{
    line-height: 40px;height: 40px;
}
.ss-table-body tr.ss-table-selected{
    background-color: #0d7b7b !important;
}
/********************************************************************************
class: basecss.Text
********************************************************************************/

input, textarea, keygen, select, button,
h1, h2, h3, h4, h5, h6,
.body-font-family {
    font-family: MicrosoftYaHei;
}

.ss-text-primary {
    color: #ffda9a;
}

.ss-text-secondary {
    color: #ffebc8;
}

.ss-text-extra {
    color: #7b8082;
}

.ss-text-lg {
    line-height: 18px;
    font-size: 18px;
}

.ss-text-sm {
    line-height: 14px;
    font-size: 14px;
}

.ss-text-xs {
    line-height: 12px;
    font-size: 12px;
}

.ss-text-warning {
    color: #fe900d;
}

.ss-text-danger {
    color: #ff3b54;
}

.ss-text-info {
    color: #38caca;
}

.ss-text-disabled {
    color: #535353;
}

a.ss-primary {
    text-decoration: none;
    color: #43adff;
}

    a.ss-primary:hover {
        color: #79c3ff;
    }

    a.ss-primary:focus {
        color: #1781D3;
    }

    a.ss-primary[disabled] {
        text-decoration: none;
        color: #535353;
    }

a.ss-extra {
    text-decoration: none;
    color: #ffebc8;
}

    a.ss-extra:hover {
        color: #ffda9a;
    }

    a.ss-extra:focus {
        text-decoration: none;
        color: #d69b34;
    }

    a.ss-extra[disabled] {
        text-decoration: none;
        color: #535353;
    }

/* add space between text and underline of an <A> element */
a.ss-text-underline {
    text-decoration: none;
    position: relative;
}

    a.ss-text-underline:after {
        content: '';
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -4px;
        border-width: 0 0 1px;
        border-style: solid;
    }
/*end space between text and underline of an <A> element*/

/********************************************************************************
class: basecss.input.text
********************************************************************************/
.ss-input-text {
    background: #3b4145;
    border: 1px solid transparent;
    -ms-border-radius: 2px;
    border-radius: 2px;
    padding: 0 3px;

    color: #fff3dd;
}

.ss-input-text-sm {
    height: 24px;
}

.ss-input-text-lg {
    height: 30px;
}

.ss-input-text:hover {
    background: #42494e;
    border-color: #697277;
}

.ss-input-text:focus {
    background: #161819;
    border: 1px solid #0d7b7b;
    outline:  1px solid transparent;
}

.ss-input-text[disabled] {
    background: #2b2e2f;
}
